[2018-02-05 14:21] vankop opened #1 "export editor propTypes"

[2018-02-06 09:32] #1 closed

[2018-04-20 14:30] wbern opened #2 "Would like to see tooltips based on the schema?"
As mentioned here by me: https://github.com/josdejong/jsoneditor/issues/321

Is there a nice way to implement it using this library perhaps?

[2018-04-20 15:34] vankop commented on #2
Unfortunately, you can't achieve mapping field to it's title/description by using this lib.

My suggetion is to use `ref` to get your jsoneditor React component instance and use [this code](https://github.com/josdejong/jsoneditor/issues/321#issuecomment-310869907) to implement this feature by yourself.

For instance:

YourSmartComponent.jsx
[code]

[2018-04-23 09:27] dixyxavier opened #3 "Editor doesn't rerender when I change the 'value' props"
I am using two editors at same time. An update in one editor should update the second one and viceversa. I have used same state variable in both editors and i have handled onChange in both editors by changing the state variable `jsonData`. Still when I change JSON data in one editor the other one doesn't rerender. It remains same. The following is my code:

`<div>
         <Editor
            valu

[2018-04-23 10:39] vankop commented on #3
`<JsonEditor />` is [uncontrolled component](https://reactjs.org/docs/uncontrolled-components.html), so `value` property is only initial value of json editor. If your task is to use both values in 2 editors you need explicitly get jsoneditors.

For instance:
[code]

[2018-04-23 10:41] vankop commented on #3
The main problem with controlled state is lossing focus in `<JsonEditor />`, thats why I did it as uncontrolled component.

[2018-04-23 12:56] dixyxavier commented on #3
Thank you @vankop

[2018-08-10 15:02] josdejong opened #4 "JSONEditor can now be used as a controlled component"
@vankop I think you will like the latest release of the jsoneditor, `v5.20.1`, which allows using it as a controlled component in a framework like React. There are two new methods `update(json)` and `updateText` for this, and two new callback methods `onChangeText` and `onChangeJSON` (checkout the [docs](https://github.com/josdejong/jsoneditor/blob/master/docs/api.md) for details).

You can find t

[2018-08-10 17:28] vankop commented on #4
@josdejong Cool features, I will find time to update package as soon as possible. Approximately on this weekend.

[2018-08-29 22:17] meneman opened #5 "feature request: Can you implement jsoneditors onEvent?"
Hi,
I'm really liking your work and use it in one of my projects. In "josdejong/jsoneditor" you can apply an custom function to onEvent. Unfortunately in your reimplementation this feature is skipped. Since you already implemented the onChange event, could you also implement the onEvent event?

Here is the example from the official jsoneditor repo: https://github.com/josdejong/jsoneditor/blob/mast

[2018-09-01 19:47] meneman commented on #5
This actually just works out of the Box as intended. I added a story to your storybook that uses the onEvent API and made a PR. #6

[2018-09-02 07:30] #5 closed

[2018-09-08 12:31] josdejong commented on #4
@vankop you can still use the `onChange()` event, it's all backward compatible. The two new callbacks `onChangeJSON(json)` and `onChangeText(text)` may be more convenient since they directly pass the contents as argument, where as in `onChange()` you have to get the contents yourself.

The reason that `onChangeJSON(json)` is not available in text/code mode is that it is not always possible to pars

[2018-10-12 04:55] himanshupareek opened #7 "How to set height of the Json Editor Code area from the code?"

[2018-10-12 05:58] himanshupareek commented on #7
I could solve it by overriding the style in my css class:

div.jsoneditor{
    height: 800px !important;
}

[2018-10-13 08:55] vankop commented on #7
@himanshupareek actually you can pass any prop  supported by [jsoneditor API](https://github.com/josdejong/jsoneditor/blob/master/docs/api.md), due to: https://github.com/vankop/jsoneditor-react/blob/master/src/Editor.jsx#L137

As I see there is no height property for editor, so my suggestion is to use your solution, or if you need different editors to use wrapper for `<JsonEditor />`, for instanc

[2018-10-21 20:01] meneman opened #8 "[request] re-publish on npm"
Hi vankop,

When installing your package via npm, it comes with its own copy of josdejong/jsoneditor. Since your last publish on npm is 8 month ago, it lacks cool new features from josdejong/jsoneditor. ( even so your package is compatible with them)

At the moment, one has to to build jsoneditor-react from source (or maybe npm install from github-link) in order to have it use a newer build of jos

[2018-10-22 16:28] vankop commented on #8
@meneman I decided to publish `1.0.0` version with jsoneditor as `peerDependency` so if you want to install latest versions run:
[code]
and it doesn't affects users with version less than `1.0.0` due to semver policy.

[2018-10-22 16:28] #8 closed

[2018-11-29 01:30] markdemich commented on #3
I have a similar problem, but a little different. I have one editor that I want to change it's contents based on a listbox selection.  Currently, there doesn't seem to be a way to do that.

[2018-11-29 18:12] #7 closed

[2018-11-29 18:21] vankop commented on #3
@markdemich you need to get `ref` of `<JsonEditor />` to get access to [editor instance](https://github.com/josdejong/jsoneditor) explicitly. For instance:

[code]
then you can do what you want with `jsonEditor` using [api](https://github.com/josdejong/jsoneditor/blob/master/docs/api.md)

[2018-12-28 16:54] shanedaugherty opened #9 "Clicking the nav items throws an error"
When clicking these:
https://www.dropbox.com/s/wjn1w3n0ec48u7h/Screenshot%202018-12-28%2011.49.23.png?dl=0

This happens:
https://www.dropbox.com/s/2f2rae0cua28edr/Screenshot%202018-12-28%2011.50.04.png?dl=0

Anyone else having this problem?

[2019-01-09 14:16] happytuna75 opened #10 "!== or shallow comparison in shouldComponentUpdate ?"
`JsonEditor.prototype.shouldComponentUpdate = function shouldComponentUpdate(_ref2) {
  var htmlElementProps = _ref2.htmlElementProps;
  return htmlElementProps !== this.props.htmlElementProps;
};`

In this function you compare with !== the new (yet to be applied) and the old (current) htmlElementProps.

In the docs you specify
` * @property {object} [htmlElementProps] - html element custom props`

[2019-01-09 21:02] vankop commented on #10
@happytuna75 thanks for advice! I thinks its great feature. I will implement it later, or if you want to help - PR wellcome.
My suggestion to use https://github.com/dashed/shallowequal

[2019-01-10 08:47] happytuna75 commented on #10
I'm very happy to volunteer :)
You'll see my pull request soon...

[2019-04-16 12:06] DominicTobias commented on #4
Thanks for this, although is it necessary to programmatically update prop with a ref? I would have thought that passing a `value` with a new reference should be enough to update the component?

[2019-04-16 12:22] DominicTobias commented on #4
Awesome thanks @josdejong that component worked well, this one doesn't update when the value changes

[2019-07-18 19:02] tomkcey opened #12 "404 Not Found on SVG"
Greetings,

I'm wondering; I'm using the jsoneditor-react, included a svg-loader in my webpack configurations since it was giving me an error to this effect, but now I'm getting this error here.
`GET http://localhost:8080/%3Csvg%20xmlns:dc=%22http://purl.org/dc/elements/1.1/%22%20xmlns:cc=%22http://creativecommons.org/ns 404 (Not Found)`

Does anyone have any idea why it's giving me this GET error

[2019-07-18 19:59] vankop commented on #12
Hi! Could you create a small repo to reproduce your issue. `package.json`, webpack config and example of usage jsoneditor will be enough

[2019-07-18 20:24] tomkcey commented on #12
Thanks for looking into this. Here it is: [](https://github.com/tomkcey/demo_jsoneditor_react)

[2019-07-18 20:58] vankop commented on #12
Hm, looks like you better to ask question about svg-inline-loader [here](https://github.com/webpack-contrib/svg-inline-loader). For fast solution I can suggest to use `url-loader` works for me https://webpack.js.org/loaders/url-loader/

[2019-07-18 21:01] vankop commented on #12
Oh I realised why it does not work with inline loader. Svg is requested like this
`background: transparent url("img/jsoneditor-icons.svg");`

So inline svg is requested from network

[2019-07-18 21:04] vankop commented on #12
If you still want to use `svg-inline-loader` in your project, I suggest to change config like this:
[code]

[2019-07-18 21:11] tomkcey commented on #12
Thank you!
This here worked:
`{
                test: /\.svg$/,
                exclude: /jsoneditor-react/,
                use: ['svg-inline-loader']
            },
            {
                test: /\.svg$/,
                use: ['url-loader']
}`

[2019-07-18 21:16] tomkcey opened #13 "setState() not changing the "value" props in Editor.render()?"
Greetings,

In this code, when I change the state of the component with setState(), it does go into the render() method, but does not actually change the display to reflect the new state.

I placed the this.state in the "value" props of the Editor component.

Here's a link to the code: [demo-jsoneditor-react](https://github.com/tomkcey/demo-jsoneditor-react)

[2019-07-18 21:20] vankop commented on #12
https://daringfireball.net/projects/markdown/syntax fyi @tomkcey

Closing this

[2019-07-18 21:20] #12 closed

[2019-07-19 15:05] Victordmdb commented on #13
Did you manage to figure this out? I'm stuck at this too. It currently has a shouldComponentUpdate which only updates with changes to htmlElementProps.

To make it worked I added a key prop which changes if the value changes since this forces a new component to be generated. Not a great solution but nothing else seemed to work.

[2019-07-19 15:31] tomkcey commented on #13
Nah, still waiting to see how he managed that. I'll return to it this afternoon.

[2019-07-20 08:58] vankop commented on #13
https://github.com/vankop/jsoneditor-react/issues/3

[2019-07-20 08:59] #13 closed

[2019-07-20 09:02] vankop commented on #13
As discussed there you can get reference of JSONEditor and change state manually, because of breaking functionality. For changing state use https://github.com/vankop/jsoneditor-react/issues/4#issuecomment-419638767

[2019-07-27 08:14] josdejong commented on #4
Not sure, should this issue be closed Ivan?

[2019-07-30 04:19] RQAccount opened #14 "ace样式加载不了"
import React from 'react';
import importedComponent from 'react-imported-component';

export const JsonEditor = importedComponent(() => Promise.all([
    import(/* webpackChunkName:'jsoneditor' */'jsoneditor-react'),
    import(/* webpackChunkName:'jsoneditor' */'brace'),
    import(/* webpackChunkName:'jsoneditor' */'brace/mode/json'),
    import(/* webpackChunkName:'jsoneditor' */'brace/theme/so

[2019-07-30 11:37] vankop commented on #14
Hi! Looks like you forgot to import css as well. Try:
[code]

[2019-07-30 16:00] OlegRyzhkov commented on #4
it's not ready, right?

[2019-07-30 16:02] OlegRyzhkov commented on #3
I have a little different error. I have 2 tabs, and one contains default tree with json, the second has ```mode='code'```. when I click on the second tab, nothing changed.

[2019-07-30 16:08] vankop commented on #3
@OlegRyzhkov do you using `jsoneditor-react` as uncontrolled component? If not follow the guide above https://github.com/vankop/jsoneditor-react/issues/3#issuecomment-383531421

[2019-07-31 06:54] OlegRyzhkov commented on #3
I exactly made it and it worked, but only if I render both at the same time. also, it rerender if I wrap one of the editor with div. looks like react can't know when to rerender element.
how to you component as controlled?

[2019-07-31 12:02] RQAccount commented on #14
thanks

[2019-07-31 12:15] OlegRyzhkov commented on #3
also, prop onChange doesn't work on json with error. how to know when user type something?

[2019-07-31 12:27] #14 closed

[2019-07-31 12:31] vankop commented on #3
better to control jsoneditor instance by youtself. Regarding to this example https://github.com/vankop/jsoneditor-react/issues/3#issuecomment-383531421.

[code]

[2019-07-31 12:34] vankop commented on #3
it could rerender if `div` above was destroyed. Small example:
[code]

[2019-07-31 12:35] vankop commented on #3
Editor wrapper updates only on https://github.com/vankop/jsoneditor-react/blob/master/src/Editor.jsx#L176

[2019-08-26 15:03] greenkeeper[bot] opened #15 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-09-24 05:59] #15 closed

[2019-09-24 06:01] vankop commented on #9
Sorry for so later answer. You need to ask this in upstream in https://github.com/josdejong/jsoneditor with minimal reproducible repo

[2019-09-24 06:01] #9 closed

[2019-09-24 06:05] vankop commented on #4
@josdejong sorry for so late answer. Do you want to take a maintenance on this repo/package? We can move it to you or create organization and move this repo there. All other features/changes will be up to you.

[2019-09-25 07:28] TMiguelT opened #16 "Webpack loaders needed"
The documentation doesn't make this clear, but in order to use the `<JsonEditor>` component, you need to first:

[code]

Then add to your `webpack.config.js`:
[code]

You probably need the Babel loader too, but since most people using React have that anyway, it's less essential to point out.

I think it would be helpful if this were explained in the README.

[2019-09-25 09:17] josdejong commented on #4
Thanks for the offer Ivan. I'm afraid though I don't have time left to maintain more libraries myself :(

[2019-09-25 09:39] vankop commented on #16
You are right. I will label this as "help wanted". PRs wellcome 👍

[2019-10-03 04:21] TMiguelT commented on #16
Hmm, except my understanding was that modules published on npm were supposed to be pre-compiled, ie having only simple (ES5) source files as their `main` entrypoint. Which is why it's not normally needed to require users to edit their webpack config.

Is there any reason why this can't be pre-compiled?

[2019-10-08 09:46] zbyso23 opened #17 "onError do nothing"
I try to use onError, but do nothing, and when I look to implementation - is logically then do nothing because is not implemented :)
is planned to implement this useful property? thanks

[2019-10-08 10:10] vankop commented on #17
@zbyso23 PR wellcome.

[2019-10-10 14:59] zbyso23 commented on #17
okay, how to? I don't have experience with collaboration on GitHub project, trying create new branch - handle-errors but commit is impossible - don't have `correct access rights`

[2019-10-24 04:05] kylethorpe opened #20 "Remove use of componentWillReceiveProps"
Due to componentWillReceiveProps being [not recommended for use](https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html), this code should be refactored to use componentDidUpdate.

[2019-10-24 10:19] vankop commented on #20
@kylethorpe Thanks for pointing this, you are totally right! Marking this as `help wanted`. PRs always welcome 🤗

[2019-10-24 21:53] emmanuelgautier commented on #17
You have to fork this project, then push the new branch you created into your newly created repo. After that, you should be able to create a new PR from the Github interface.

[2019-11-27 18:22] TreTuna commented on #16
You are correct @TMiguelT with a caveat. NPM packages will normally come with multiple compilations of the code. CommonJS, AMD, UMD, ES Modules, etc... It looks like this library is getting compiled to both UMD and ES Modules, but we are currently only marking the ES Module for consumption in `package.json`. In many libraries, you will see the `main` set to the UMD version and the `module` set to

[2019-11-27 23:11] TMiguelT commented on #16
The CSS and SVG loaders are required here, because this module directly imports CSS from JavaScript, which is obviously not going to work without a loader: https://github.com/vankop/jsoneditor-react/blob/0d805ce83862f1c562b3afde841f399dd97c473d/src/Editor.jsx#L4-L5

[2019-12-26 14:40] Far3t opened #23 "[request] Update npm version"
Hello,

When using your package, I saw that it builds its own jsoneditor.
But the interface of it has changed in the current month (added for example the onValidationError props).
Is this possible to re-push an update of your package on npm?

[2019-12-27 08:41] vankop commented on #23
PRs always welcome!

[2019-12-27 13:56] Far3t commented on #23
Can't PR an update on a npm package :-(.
The only thing I can do is fork yours, build and publish another package onto npm (which is not very nice but...)

[2019-12-27 14:52] vankop commented on #23
As I understand you want to support this parameters in this package? or you want update `peerDependency` ?

[2019-12-27 15:00] Far3t commented on #23
The thing is, everytime you'll launch rollup, it will take the jsoneditor you have on your node_modules because of:
https://github.com/vankop/jsoneditor-react/blob/master/src/Editor.jsx#L3
(Dunno if one can exclude that with rollup, don't know it very well).
So, even if your peerDependencies specify ^7.1, the package you will build and publish onto npm will have the jsoneditor-minimalistic built i

[2019-12-28 09:59] vankop commented on #23
Fixed in https://github.com/vankop/jsoneditor-react/commit/b0899054c39bfcd5237ca93a3d299cf80e8838fe

[2019-12-28 10:00] #20 closed

[2019-12-28 10:41] vankop commented on #23
published in `3.0.0` version

[2019-12-28 10:41] #23 closed

[2019-12-28 11:02] vankop commented on #16
added info in readme

[2019-12-28 11:02] #16 closed

[2020-01-06 11:14] zelth opened #24 "SyntaxError: Cannot use import statement outside a module"
any ideas on this? I've followed

`import { JsonEditor as Editor } from 'jsoneditor-react';
import 'jsoneditor-react/es/editor.min.css';
later in render method:

render() {
    return (
        <Editor
            value={yourJson}
            onChange={this.handleChange}
        />
    );
}`

[2020-01-06 17:22] vankop commented on #24
Thanks for creating issue, could you please provide a minimal reproducible repo?

[2020-01-07 02:41] zelth commented on #24
I followed the instructions above with a react app

and this is the error
SyntaxError: Cannot use import statement outside a module

[2020-01-14 22:41] bnewcomer opened #25 "Icons missing for sort and transform"
The bundled icons file does not include icons for the sort and transform buttons in the editor menu. The buttons are still clickable, but it is not clear that there are buttons.

![Screen Shot 2020-01-14 at 2 40 00 PM](https://user-images.githubusercontent.com/6411898/72388838-cfc8c300-36db-11ea-8ef6-2e69c1276cca.png)
jsoneditor-react

![Screen Shot 2020-01-14 at 2 41 05 PM](https://user-images.gi

[2020-01-15 11:11] vankop commented on #25
Thanks for creating issue! Could you please create minimal reproducible repo?

From my perspective this icons provided by `jsoneditor` package, so you need update `jsoneditor` to appropriated version

[2020-01-29 00:20] jamessergeant opened #26 "expandAll usage"
Sorry, I'm not sure where else to ask this. I'm just having difficulty trying to figure out how to call expandAll / collapseAll on the component. Any advice would be appreciated.

[2020-01-31 00:44] jamessergeant commented on #26
Actually I guess more accurately I am after having the editor be expanded at all times. I've been able to access the expandAll function on the jsonEditor instance however on a change the field loses focus.

[2020-01-31 05:03] jamessergeant commented on #26
I've managed a hacky work around for this. Will close out but if anyone has advice, would love to hear it.

[2020-01-31 05:03] #26 closed

[2020-01-31 06:51] vankop commented on #26
Hi! sorry fo delay, you need to get json editor instance using `ref` on component, so after that you can call any supported methods

[2020-02-05 16:20] zbyso23 commented on #17
thanks - I try to implement subscribe changeAnnotation, but I noticed strange behaviour of Ace editor - when is fired in callback, return empty object - but, I say "okay, I get manually", but when i call directly code like this:
[code]
in annotations return OLD error! then I fix for now by code like this:
[code]
but is very dirt - time can be not enough on old computers :/
thrid issue what i regis

[2020-02-05 17:11] vankop commented on #17
@zbyso23 You need to create issue in upstream dependency

[2020-02-06 12:41] jvallar opened #27 "Issue when deployed"
I am using CRA. it works on development localhost, but shows error when deployed to production. Please check below

[code]
[code]

[2020-02-06 13:12] vankop commented on #27
Hi! You need to create minimal reproductionable repo in upstream `jsoneditor` dependency

[2020-02-06 13:22] jvallar commented on #27
I realized the new jsoneditor version 8.5.0 breaks this module.

[2020-02-06 13:49] vankop commented on #27
you mean `jsoneditor-react` is incompatible with `jsoneditor@8.5.0` ?

[2020-02-06 23:04] jvallar commented on #27
Yes, I reported it https://github.com/josdejong/jsoneditor/issues/892. I think they did some fixing.

[2020-02-06 23:04] #27 closed

[2020-02-07 09:12] joan38 commented on #3
This component should really be doing this https://github.com/vankop/jsoneditor-react/issues/3#issuecomment-383531421 itself.

[2020-02-07 14:21] vankop commented on #3
@joan38 It is possible, but in this case it will require a lot more maintenance =(

[2020-02-11 21:52] joan38 commented on #3
I ended up rewriting this component myself and using jsoneditor directly.
I'd like to share this but I'm not using Javascript, I'm using Scala and it looks like this:
[code]

I also noticed you can avoid users of this lib to have to `import "jsoneditor/dist/jsoneditor.min.css";` by adding the import in your component and configure your webpack as:
[code]

[2020-02-17 12:17] berrybell commented on #24
I had this issue while running Jest tests with my React project setup with `react-scripts@3.3.1`. Adding `identity-obj-proxy` as `devDependency` and adding the following to my Jest config resolved the issue for me:

[code]

[2020-02-28 09:48] rinturj84 opened #28 "Icons are not rendered."
Icons are not visible in the editor.
Issue reproduced in codesandbx.
https://codesandbox.io/s/infallible-smoke-lvcvo?fontsize=14&hidenavigation=1&theme=dark

[2020-02-28 12:04] vankop commented on #28
do u using CRA ?
may be this is relevant to jsoneditor itself..
for webpack build u need appropriated loaders check this issue https://github.com/vankop/jsoneditor-react/issues/16

[2020-02-29 10:59] rinturj84 commented on #28
I'm  using React in Meteor app. Bundled using using default meteor bundler.

[2020-03-05 09:04] rinturj84 commented on #28
is there any update regarding this issue ?

[2020-03-05 10:13] vankop commented on #28
I think it is a problem upstream or in your webpack config.. You could check storybook https://github.com/vankop/jsoneditor-react/tree/master/stories all staff works..

[2020-03-05 10:14] vankop commented on #28
In provided example svg with icons loads, so probably you need to create issue in jsoneditor itself https://github.com/josdejong/jsoneditor/issues

[2020-03-22 14:49] lin2006yuo commented on #24
I had a same error while using next.js

[2020-04-03 13:44] bruno-olivia opened #30 "Error is not cleared after a change without error"
Please, clear the variable `this.err` at the function `handleChange` before the line:

https://github.com/vankop/jsoneditor-react/blob/8c05a8be8e5598805fbac9c0aa53fc824043943b/src/Editor.jsx#L176

With it, I can just check the err variable at the editor to check if there is an error at the JSON

[2020-04-09 13:48] fhperuchi opened #31 "Sort level 0 JSON attributes on jsoneditor-react component is loaded"
Hi!

How do I to sort level 0 JSON attributes after component is loaded?

Thanks.

[2020-04-24 11:04] gla23 commented on #28
Was a solution found for this?

[2020-05-17 16:14] ovidiu141 opened #33 "How to use this library with create-react-app?"
Can you provide an example about using this library with create-react-app?

[2020-05-25 12:53] lepinkainen opened #34 "Unable to run Jest tests when running under create-react-app"
When trying to run Jest tests under create react app with `yarn test` I get the following error:

[code]

The code compiles just fine without any errors and works as intended. Somehow running it with NODE_ENV=test causes the transpiler to fail.

[2020-05-25 13:10] vankop commented on #34
you need to provide correct transformer to jest, see https://jestjs.io/docs/en/getting-started#using-babel

[2020-05-25 21:25] lepinkainen commented on #34
It's a bit of a pain to edit the babel settings in a CRA based project without ejecting it.

Any hints on what are the correct transformers to make it work in a CRA TypeScript project? Or why this error is thrown during testing, but not when compiling?

[2020-05-25 22:00] vankop commented on #34
@lepinkainen if you will create reproduction repo I could take a look.  As I understand you can override options
https://create-react-app.dev/docs/running-tests#configuration
you need to allow `jsoneditor-react` https://jestjs.io/docs/en/configuration#transformignorepatterns-arraystring

[2020-06-11 20:39] SuddenDevelopment commented on #33
mine simple works.

did an  npm install of the components

import { JsonEditor as Editor } from 'jsoneditor-react';
import 'jsoneditor-react/es/editor.min.css';

<Editor
            value={objTmp}
        />

[2020-07-02 15:16] uooopss commented on #3
### @vankop thank you so much for your help!
`const JsonEditor = ({ data = {}, handleJSON}) => {
  const jsonEditorRef = useRef(null)

  useEffect(() => {
    if (jsonEditorRef.current !== null) {
      jsonEditorRef.current.set(data);
    }
  }, [data])

  const setRef = instance => {
    if (instance) {
      jsonEditorRef.current = instance.jsonEditor;
    } else {
      jsonEditorRef.current =

[2020-07-08 07:59] alicialics commented on #34
transformIgnorePatterns did not work for me.

Had to use:
moduleNameMapper: {
  "jsoneditor-react": <empty-stub>
}

[2020-08-31 21:44] italoayres commented on #31
You can use the undocumented property sortObjectKeys={true} for this. Just made a [PR](https://github.com/vankop/jsoneditor-react/pull/38) to add it to the props definition, but you should have no problem using it anyway.

[code]

[2020-09-01 16:32] z-war commented on #3
re- rendering single editor my code is
 constructor(props) {
    super(props);
    this.state = {
      deployements: [],
    };
    this.editor1 = React.createRef();
  }
 componentWillUpdate(nextProps, nextState) {
    console.log(nextState);
    this.editor1.current.set(nextState.deployements);
    console.log(this.editor1.current);
    console.log(this.editor1.current.props.value);
  }  <Editor

[2020-09-01 20:07] alimovz commented on #33
My create-react-app throws this:
[code]

[2020-09-07 10:58] tungns0695 opened #39 "Change size when using ace editor"
How can i change size of this component when using ace editor?

[2020-09-14 13:32] rinaharry opened #40 "how to change the color on this editor"
how to change theme color on this editor

[2020-09-14 16:57] kory-zumo commented on #24
Worked for me!

A couple notes:
- I didn't need the moduleNameMapper part
- I had to put it in my package.json
- I also had to add the jsoneditor package as well like this `"node_modules/(?!(jsoneditor-react|jsoneditor)/)"`
- This post helped me understand why I needed it: https://stackoverflow.com/a/55803188/13154904

[2020-09-18 06:09] maciejmiklas commented on #40
that a really good question - I've tried themes, but is not working. It's hard to say why... it does not give me an error or anything.... Basically I have not idea how to change theme/colors. I'm not an expert, so this might be the case....

[2020-09-23 05:31] maciejmiklas opened #41 "Do not hardcode css"
There is hardcoded css import:
`import 'jsoneditor/dist/jsoneditor.css';`

This makes any css customisation harder. Please remove this import so that we can import css of our choice.

[2020-10-10 23:20] vaultec81 commented on #41
I agree! I have found a work around that seems to work for anyone wondering. Passing CSS through `htmlElementProps` seems to work. But it isn't the best solution obviously.

[2020-11-03 10:04] developergunny commented on #39
clear?

[2020-11-13 00:33] hutch120 commented on #3
Thanks @uooopss Just a few minor tweaks to work as pretty much a dropin module.

File: JSONEditor.js

[code]

File: App.js

[code]

[2020-11-13 10:46] himanshuc3 opened #44 "Default value for property with enum values not set"
Reference json:

[code]

Issue: Default value for spin_turn is not set whereas set for disabled property.

[2020-11-20 07:09] yinkh commented on #7
this work for me
[code]

[2020-11-25 16:02] vankop commented on #17
in `jsoneditor@9` there is an option `onError`, so current prop `onError` will be passed in editor options

[2020-11-25 16:02] #17 closed

[2020-12-17 13:37] TrejGun commented on #28
I cant see icons loaded in provided example too, neither in my app
https://codesandbox.io/s/infallible-smoke-lvcvo?fontsize=14&hidenavigation=1&theme=dark

[2020-12-30 02:29] fgghuu2253 opened #47 "TypeError: undefined is not a function (evaluating 'Object.values(C)')"
Object.values() doesn't work for some browsers.

[2020-12-30 07:26] vankop commented on #47
you can use babel-loader to process js files

[2020-12-30 07:26] #47 closed

[2021-01-28 09:08] teosairus opened #48 "Custom disable fields(keys) or values from being editable"
Hello. Is there any way that we could block all or some of the keys or/and all or some of the values rendered to be editable?

[2021-01-31 20:12] bbemis017 commented on #39
I think this sounds like it could be similar to the issue I'm seeing.

When I add the jsonEditor to my application, It does not expand to the full height.
![image](https://user-images.githubusercontent.com/8581332/106396359-0ea3e680-63cd-11eb-8aa8-6e3fb796afbc.png)
If I set the height for the div that contains the jsonEditor the json editor expands but the content in the ace editor does not
![imag

[2021-02-03 08:25] zif002 commented on #24
Unfortunately, it didn’t work for me, so that jest doesn’t swear at it, we need to build a bundle for es5
In my case, I had to change the config for rollup and rebuild
[code]

[2021-02-19 07:58] PunKHS commented on #41
Maybe someone has workaround? I would like to change the `.jsoneditor-menu { background-color: #4b4b4b }` and cannot do it through `htmlElementProps`

[2021-02-19 18:02] vaultec81 commented on #41
You might be able to go into the CSS code in the `node_modules` folder, or change the properties of the jsoneditor-menu class through javascript if that's possible.

[2021-02-19 19:20] PunKHS opened #49 "Schema validation error with array root"
Example: [codesandbox](https://codesandbox.io/s/jsoneditorreactdemo2-blklo?file=/src/data.json)

When I try to validate erroneous data:
`[
  {
    "na1me": "one"
  },
  {
    "name": "two"
  }
]
`

with json schema:
`{
  "definitions": {},
  "$schema": "http://json-schema.org/draft-07/schema#",
  "$id": "http://example.com/root.json",
  "type": "array",
  "title": "The Root Schema",
  "items": {

[2021-03-04 11:45] fiskus commented on #39
I use `htmlElementProps={{ style: { height: '300px' } }}` to control height

[2021-03-05 16:22] PunKHS commented on #3
@hutch120 Thanks for sharing your solution.
Maybe somebody knows how to implement that in `mode="tree"`. For instance, if you try to edit something into an array, the tree will collapse this node after rerendering. [Codesandbox example](https://codesandbox.io/s/jsoneditorreactdemo2-g0zjq?file=/src/App.js)

[2021-03-05 17:20] #49 closed

[2021-03-09 21:35] DanielHabenicht opened #52 "Why is there an uneeded <div>?"
Hi!
While trying to incorporate the editor into my application I came across this `<div>` wrapping the editor.

![image](https://user-images.githubusercontent.com/13590797/110540747-263a6180-8127-11eb-901e-945827a937a7.png)
It is set here
https://github.com/vankop/jsoneditor-react/blob/dabd034a66603fab0c570b53633b89a0611d40f0/src/Editor.jsx#L210-L216

It seems rather unneeded and prevents the expa

[2021-03-17 04:05] on2air opened #53 "Any plans to implement the new JSONEditor?"
I'm exploring the new editor created by same developer. see here:
https://github.com/josdejong/svelte-jsoneditor

I'm struggling to get it to run inside of React, mainly due to my lack of React knowledge I'm sure. Would love anyone taking a look at how to get a simple example working:

https://github.com/josdejong/svelte-jsoneditor/issues/4

[2021-03-17 07:19] sridharan21994 commented on #3
You can simply pass the `key` in the editor which makes it to re-render whenever the key values changes. I did like this:

` <Editor   key={props.value.type}   {...props}`

PS: Don't pass object for `key` since it will be converted as `[object Object]` and remains same even if values change. In my code `props.value` is an object and `props.value.type` is a string. so the editor re renders with new

[2021-03-18 22:28] Jezternz commented on #4
For anyone else who does not have time to take a new repo under their belt, this was my work-around to get controlled mostly working with the current version:

[code]

[2021-03-30 15:15] SeeThruHead commented on #41
can't import any css file in node_modules in next js

[2021-04-21 15:20] SimonKlausLudwig commented on #41
would be great, this adds a ton of css and makes lazy loading of the css really hard.

[2021-05-02 12:22] #40 closed

[2021-05-06 10:17] mr-bjerre commented on #41
@SeeThruHead I have the same issue. Found a solution?

[2021-05-06 13:47] SeeThruHead commented on #41
no we didn't use this because of the issue

[2021-05-14 13:06] rinaharry opened #60 "Not supported event on blur"

[2021-05-19 11:19] lepinkainen commented on #34
@alicialics Can you share the stub file you used?

[2021-05-19 16:50] Barik85 commented on #24
I tried this
[code]
But no result.
When running test i got "SyntaxError: Cannot use import statement outside a module".
I'am using creat-react-app + typescript
Any other desicions?

[2021-05-28 04:35] stevegg commented on #52
+1

[2021-06-08 18:54] ekdev2 opened #61 "update peer dependency to React 17"
If this is compatible with React 17, is it possible to update the peer dependency. Otherwise npm i fails with latest npm.

[2021-06-10 21:55] bruderda commented on #34
@lepinkainen here's what I used:

package.json:
[code]
stub.js:
[code]

[2021-06-10 21:58] bruderda commented on #24
See also #34

[2021-06-11 10:04] SimonKlausLudwig commented on #41
It should be that hard to exclude the css file right ? Please take this into account..

[2021-06-21 01:56] juan-carvajal opened #63 "value is not reactive"
Hi! I really liked you editor, but I find it a little hard to use because the value prop only takes the initial value, but is not affected when the prop is changed elsewhere.

Am I missing something?

Greetings!

[2021-06-23 15:13] hanhansen opened #64 "Auto-complete"
I noticed auto-complete is supported in the original jsoneditor. Is there a way to enable it or plans to enable it in the react-wrapper?

[2021-06-24 17:01] anthonywebb commented on #4
@Jezternz thank you for this.  I have an issue where when I try to type in a new value, with every keystroke the editor re-renders and I have to open and select the key I am trying to edit.  Have you run into this?

[2021-06-24 17:06] anthonywebb commented on #63
I hear you man, see this issue https://github.com/vankop/jsoneditor-react/issues/3

Did you find a workaround?

[2021-06-24 17:15] anthonywebb commented on #3
@sridharan21994 can you elaborate on your fix here?  I have the issue where as you edit the value, with each keystroke, the editor is re-rendered which makes it impossible to edit more than a single character at a time.  I am trying to use the approach @hutch120 pasted above.

[2021-06-25 09:48] Jezternz commented on #4
@anthonywebb my project doesnt seem to have this problem.

Only hints I can think of that may help are I have the attribute history={true} and am using package versions:
"jsoneditor": "^9.0.4",
"jsoneditor-react": "^3.1.1"

[2021-06-29 16:30] anthonywebb commented on #4
@Jezternz can you confirm if you are using mode="tree" mode="code" does not have an issue for me, just the tree mode

[2021-06-29 22:21] Jezternz commented on #4
@anthonywebb this attribute I have left unset, so is in tree mode I believe, it may be worth creating the most basic case in an online example using eg https://codesandbox.io - I would try help and do this but am struggling for time right now.

[2021-06-29 23:41] valerii15298 opened #65 "Typescript support"
Hello, is there any options to use this package with typescript? Original jsoneditor has typescript definitions in DefinetelyTyped. Would be glad any recommendations for usage with typescript:) thanks

[2021-06-30 04:41] Jezternz commented on #4
Found some spare minutes. I can confirm in a basic scenario the keys stay open, so it must be something else in your project, I would try commenting areas of the code until you work out what it is.

My codesandbox is [here](https://codesandbox.io/s/modest-rain-x5goz?file=/src/App.js), the ControlledJsonEditor component code which can be resused is [here](https://codesandbox.io/s/modest-rain-x5goz?

[2021-06-30 14:46] anthonywebb commented on #4
@Jezternz your example worked and needs to be promoted across the various tickets as the solution that works.  As near as I can tell it is the only one that fully works properly.

[2021-06-30 14:47] anthonywebb commented on #63
@juan-carvajal fix is here https://github.com/vankop/jsoneditor-react/issues/4

[2021-06-30 14:47] anthonywebb commented on #3
Fix is found here https://github.com/vankop/jsoneditor-react/issues/4

[2021-06-30 18:40] juan-carvajal commented on #63
Looks good! Should I close the issue?

[2021-07-29 12:07] matburnham commented on #52
Had this problem too. Eventually figured I could set the class name and control it myself with:

[code]

[2021-07-29 17:09] #31 closed

[2021-11-24 02:29] thecassion opened #70 "jsoneditor-react is incompatible with react@"17.0.2""
When I type `npm install --save jsoneditor jsoneditor-react` , this is what happen:
`git:(master) ✗ npm install --save jsoneditor jsoneditor-react
npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: unops_frontend@undefined
npm ERR! Found: react@17.0.2
npm ERR! node_modules/react
npm ERR!   react@"17.0.2" from the root project
npm ERR!
npm

[2021-11-24 12:29] cyrojyro opened #71 "Cannot scroll with mouse wheel when passing ace parameter"
passing ace parameter disables scrolling with mouse wheel.
[code]

Editor without ace parameter is scrollable.
I don't think this is an intended feature.

[2021-12-17 12:11] antoniocapelo commented on #70
@thecassion I just had the same issue. Although after forcing the install and testing, it seems it works well with react@17.

@vankop Do you want me to create a PR updating the `peerDependencies` field?

[2021-12-17 14:02] vankop commented on #70
fixed in 3.1.2 https://github.com/vankop/jsoneditor-react/commit/f763a462691786ca4d5db1bc975c1b628a53ccdf

[2021-12-17 14:02] #70 closed

[2021-12-24 14:25] hanoak commented on #3
@hutch120, I really appreciate your solution above. I've tried replicating it in Typescript. But unfortunately, I'm stuck with this error` Property 'set' does not exist on type 'never'.  TS2339`. I wasted much time in figuring out this error, I'm new to React and Typescript as well. Any help would be highly appreciated. Thanks! Here's my react component in `JSONEditor.tsx` :

[2022-01-09 12:58] xochilpili commented on #3
@hanoak You need to add a proper interface:

[code]

Hope helps!

[2022-01-11 12:04] AnnaRainier opened #74 "Change theme on the fly"
I was trying to dynamically set editor theme and it doesn't work, if I set it like this
const editorTheme = useMemo(() => {
        return isDark ? 'ace/theme/ambiance' : 'ace/theme/chrome';
    }, [isDark]);

theme={editorTheme}
it's not working, it just picks up the first theme in condition, how can I change it when toggling between dark and light modes of the app?

[2022-01-13 15:03] AnnaRainier commented on #17
this onError method fires on my component only if I trigger "filter, sort or transform contents" manually, I expected it to fire once an error occurs in JSON file. If I need to rely on JSON validity state, for, let's say, some button disabled state, how do I do that?

[2022-01-25 15:29] zbyso23 commented on #17
I solve this problem by code above (10 Jun 2020), but it's not part of current code - i use standalone file `Editor.tsx` in my project

[2022-03-10 16:17] thomas-white commented on #65
@hongha912 Thanks, this is very helpful! I'd like to use this in my project, however it's not clear that the repository license extends to code in issues. Would you be willing to apply an open-source license to this code? Or submit it as a pull request? Thanks.

[2022-03-10 16:35] hongha912 commented on #65
@thomas-white I don't have time to submit a PR right now, but added a MIT license.

[2022-03-10 18:26] thomas-white commented on #65
Thanks @hongha912 ! Very much appreciated.

[2022-03-14 09:19] gustavo84 opened #80 "Json editor menu templates"
i have dubt if in jsoneditor-react it is possible use json editor menu templates like in next example

https://github.com/josdejong/jsoneditor/blob/master/examples/10_templates.html

[2022-03-25 14:34] loki2909 commented on #3
@xochilpili When I implement the above interface i get a new error
`Cannot assign to 'current' because it is a read-only property.ts(2540)`

What should be the correct interface. Thanks in advance

[2022-04-13 23:09] TheGitPanda commented on #28
Working to find a fix for this. Its one of those straight forward gotchas, must be

[2022-04-20 22:58] TheGitPanda commented on #28
So it is indeed a webpack configuration issue. In my case I was using image-webpack-loader. But as soon as I changed my webpack config to use the following (begrudgingly), svgs and images are now loaded. Also ensure your Sass config is using resolve-url-loader and source map is enabled.
[code]

[2022-04-26 15:47] can-007 opened #83 "Missing css when using nginx to serve it"
when I use `yarn start`, it looks fine:
<img width="523" alt="Screen Shot 2022-04-26 at 23 42 54" src="https://user-images.githubusercontent.com/56532901/165339589-bb5508fa-9c01-4c49-834e-50132192ce6e.png">

when I use yarn build and config nginx to serve it, it looks wrong:
<img width="242" alt="Screen Shot 2022-04-26 at 23 44 18" src="https://user-images.githubusercontent.com/56532901/165339853-

[2022-04-26 16:27] vankop commented on #83
I can't help you for setting up your webserver..

[2022-04-26 16:27] #83 closed, assigned to nobody

[2022-05-03 17:05] g-monroe commented on #4
For the people who are using typescript with their own typings. Here is the modified code/setup from @Jezternz.
You can find the gist [here](https://gist.github.com/g-monroe/23a7ee3665e0c905eb5fb54f6d21490d).

[2022-05-14 23:29] KirillSuhodolov commented on #41
is it possible to exclude css for next.js apps?

[2022-05-18 23:37] ypling commented on #28
I removed the config from webpack config from module.rules, and it worked
Looks like the css loader toke care of it.
`{ test: /\.css$/, use: ['style-loader', 'css-loader'] }`

[2022-05-25 23:30] anavgagneja commented on #41
@SeeThruHead did you find an alternative you liked that works with next js?

[2022-08-23 19:04] hockeymikey opened #87 "placeholder support"
I'm not seeing any support for placeholder text (hint text). Correct me if I'm wrong.

[2022-08-25 00:56] hockeymikey opened #88 "Support mainMenuBar"
https://github.com/josdejong/jsoneditor/pull/596

[2022-09-20 06:39] Lutreer commented on #61
18?

[2022-10-10 16:35] varunarora opened #89 "Add 'mode' to ace example"
I couldn't get the ace editor to load. Then I ran into a CodeSandbox (https://codesandbox.io/s/8wp9w?file=/src/App.js:2337-2557), and figured the property "mode" needs to be assigned to "code". Kindly add that to your documentation?